@font-face {
    font-family: logo-font;
    src: url(fonts/webfontkit-20240818-065021/gongn___-webfont.woff) format("woff");
}

body {
    font-family: sans-serif;
    margin: 0;
}

input {
    width: 300px;
}

img {
    height: 100%;
}

.logo-font {
    font-family: "logo-font", serif;
    font-size: 1.5rem;
}

.bg-image {
    background-image: url(images/background-image.jpg);
    background-size: cover;
}

.bg-white-50 {
    background-color:rgba(255, 255, 255, 0.5);
}

.bg-light {
    background-color: rgb(200,200, 200);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-30 {
    gap: 30px;
}

.flex-it {
    flex: 1;
}

.flex-it-2 {
    flex: 2;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.w-full {
    width: 100vw;
}

.h-full {
    height: 100vh;
}

.h-300px {
    height: 200px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}